<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="appName"
                  source="spring.application.name" defaultValue="unknown-service"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeContext>false</includeContext>
      <customFields>{"service":"${appName}"}</customFields>
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <message>message</message>
        <logger>logger</logger>
        <level>level</level>
        <thread>thread</thread>
      </fieldNames>
      <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider"/>
      <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
        <maxDepthPerCause>8</maxDepthPerCause>
        <shortenedClassNameLength>20</shortenedClassNameLength>
        <rootCauseFirst>true</rootCauseFirst>
      </throwableConverter>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>

  <!-- Reduzir ruído de libs internas -->
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="com.zaxxer.hikari" level="WARN"/>
  <logger name="org.apache.cxf" level="WARN"/>

</configuration>
